<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a (click)="getPointsOfAttentionService('')">
      <img src="../assets/grey-dot.png" class="icon" matTooltip="All"/>
  </a>
  <a (click)="getPointsOfAttentionService('green')">
      <img src="../assets/green-dot.png" class="icon" matTooltip="Solved"/>
  </a>
  <a (click)="getPointsOfAttentionService('orange')">
      <img src="../assets/orange-dot.png" class="icon" matTooltip="Nice to have"/>
  </a>
  <a (click)="getPointsOfAttentionService('red')">
      <img src="../assets/red-dot.png" class="icon" matTooltip="Critical"/>
  </a>
</nav>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let pAItem of pAItems" [latitude]="pAItem.lat" [longitude]="pAItem.lng"
      [iconUrl]="pAItem.iconUrl">
  		<agm-info-window>{{ pAItem.description}}</agm-info-window>
  </agm-marker>
</agm-map>
