<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
    <pa-category *ngFor="let category of categories" [category]="category" (selectCategory)="getPointsOfAttentionService($event)"></pa-category>
</nav>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let pAItem of pAItems" [latitude]="pAItem.lat" [longitude]="pAItem.lng"
      [iconUrl]="pAItem.iconUrl" (mouseOver)="showToolTip(pAItem, $event)" 
        (mouseOut)="hideToolTip(pAItem, $event)" matTooltip="{{ pAItem.description }}" >
  		<agm-info-window >
            <div class="infoWindowtitle">{{ pAItem.description}}</div>
            <div class="egm-marker-iw" >
              <p>
                <a href="{{ pAItem.infoUrl }}"><span [innerHTML]="pAItem.infoUrl"></span></a>             </p>
              </div>
        </agm-info-window>
  </agm-marker>
</agm-map>
